extends layout

block content
  form(method='post', action='/addchallenge', id='addchallenge')


    | Project Name:
    input(type='text', name='name', id='name')
    br

    | Type:
    select(multiple='multiple', name='type')
        option  Fun 
        option  Coding 
        option  Politics 
        option  Design 
        option  Art
        option  Math 
    br    


    | Prompt:
    textarea(rows=10, columns=30, name='prompt', id='prompt')
    br

    | Description:
    textarea(rows=10, columns=30,  name='description', id='description')
    br

    | Contact name:
    input(type='text', name='contactname', id='contactname')
    br


    | Contact email:
    input(type='email', name='email', id='email')
    br

    input(type='submit', value='Submit')