extends layout

block content
    .row-fluid
        span.span6.span6-1
            h2 Create a Challenge.
            form(method='post', action='/addchallenge', id='addchallenge')
      
                h5.heading Project Name:
                input#name.textinput(type='text', name='name', placeholder='Name')
                h5.heading Type:
                select#type(name='type')
                  option(value='Fun') Fun
                  option(value='Programming') Programming
                  option(value='Writing') Writing
                  option(value='Mechanical Design') Mechanical Design
                  option(value='Politics') Politics
                h5.heading Describe the background situation:
                textarea#description(name='description', placeholder='Description ')
                h5.heading Give the user a prompt to describe the problem:
                textarea#prompt(name='prompt', placeholder='Prompt')
                h5.heading Contact Name:
                input#contactname.textinput(type='text', placeholder='Your name', name='contactname')
                h5.heading Contact Email:
                input#email.textinput(type='email', placeholder='Your email', name='email')
                input#submit( type="submit", class="btn pull-right btn-success btn-large")    Submit
                input(type='date')
                input(type='file')
                
                //- input(type='submit', value='Submit')

        span.span6
