extends layout

block content
  link(rel='stylesheet', href='/stylesheets/addChallenge.css')
  script(src='/javascripts/challengeadd.js')
    
  .container-fluid
      form(method='post', action='/addchallenge', id='addchallenge')
        .row-fluid
          span.offset3.span9
            .row-fluid
              span.span6
                h5.heading Project Name:
                input#name.textinput(type='text', name='name', placeholder='Name')
                div#badname
                h5.heading Type:
                select#type(name='type')
                  option(value='Fun') Fun
                  option(value='Programming') Programming
                  option(value='Writing') Writing
                  option(value='Mechanical Design') Mechanical Design
                  option(value='Politics') Politics
              span.span6
                h5.heading End Date:
                input.textinput#input(type='text', placeholder='End Date', name='datepicker')
                h5.heading Prize:
                input.textinput(type='text', placeholder='Prize', name='prize')
              h5.heading Give the user a prompt to describe the problem:
              textarea#prompt(name='prompt', placeholder='Prompt')
              h5.heading Describe the background situation:
              textarea#description.pull-left(name='description', placeholder='Description ')
              input#submit( type="submit", class="btn pull-right btn-success btn-large")    Submit

  script


  //- .row-fluid
  //-   span.span6.span6-1
  //-       h2 Create a Challenge.
  //-       form(method='post', action='/addchallenge', id='addchallenge')
  
  //-           h5.heading Project Name:
  //-             input#name.textinput(type='text', name='name', placeholder='Name', required)
  //-           h5.heading Prize:
  //-             textarea#prize(name='prize', placeholder='Prize', required)
            
  //-           h5.heading Type:
  //-           select#type(name='type', required)
  //-             option(value='Fun') Fun
  //-             option(value='Programming') Programming
  //-             option(value='Writing') Writing
  //-             option(value='Mechanical Design') Mechanical Design
  //-             option(value='Politics') Politics
  //-           //- h5.heading Prize:
  //-           //- textarea#prize(name='prize', placeholder='Prize', required)
  //-           //- //input#finishdate(type='date', name='finishdate', required)
  //-           input#input(type="text", name="datepicker")
  //-           h5.heading Describe the background situation:
  //-           textarea#description(name='description', placeholder='Description', required)
  //-           h5.heading Give the user a prompt to describe the problem:
  //-           textarea#prompt(name='prompt', placeholder='Prompt', required)

  //-           script
  //-             $(function(){
  //-             console.log("here")
  //-             window.dateinput = $("#input");
  //-             console.log(window.dateinput);
  //-             window.dateinput.datepicker();
  //-             //- $( "#input" ).datepicker("show");
  //-             })
         
  //-           input#submit( type="submit", class="btn pull-right btn-success btn-large")    Submit
  






