extends layout

block content
    script(src='/javascripts/challengeselect.js')
    each challenge, i in challengepack
       
        div.challenge
            h4 #{challenge.name}
            | Type: #{challenge.type}
            br
            | Prompt:  #{challenge.prompt}
            div.hidden
                br
                | Description: #{challenge.description}
                br
                form(method='post', action='/acceptchallenge')
                  button.challengeselect(name="name" ,value = challenge.name)  Select

