extends layout

block content
  h1= title
  form(action='/login', method='get')
    input(type='submit', value='Log In')
  form(action='/signup', method='get')
    input(type='submit', value='Sign Up')