doctype 5
html
  head
    title= title
    script(src='http://code.jquery.com/jquery.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/challengebrowser') Tup
          .nav-collapse.collapse
            ul.nav
              if (page == 'browser')
                li.active
                  a.bar(href='/challengebrowser') Challenge Browser
              else      
                li
                  a.bar(href='/challengebrowser') Challenge Browser
              if (page == 'team')
                li.active
                  a.bar(href='/teampage') My Team 
              else      
                li
                  a.bar(href='/teampage') My Team 
              if (page == 'add')
                li.active
                  a.bar(href='/addchallenge') Add a Challenge
              else      
                li
                  a.bar(href='/addchallenge') Add a Challenge
              //- if (page == 'challenge')
              //-   li.active
              //-     a.bar #{title}
              if (page == 'about')
                li.active
                  a.bar(href='/about') About Tup
              else      
                li
                  a.bar(href='/about') About Tup
               
    .container(id='page')
      block content 
