
doctype 5
html
  head
    title= title
    script(src='http://code.jquery.com/jquery.js')
    //- script(src='/javascripts/jqueryExtra.js')
    //- script(src='/javascripts/challengeadd.js')
    
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- link(rel='stylesheet', href='/stylesheets/jqueryExtras.css')

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner          
        a.brand(href='/')
          img(src='/Team Up.png', id = 'logo')
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse.collapse
            ul.nav
              if (page == 'browser')
                li.active
                  a.bar(href='/challengebrowser') Challenge Browser
              else      
                li
                  a.bar(href='/challengebrowser') Challenge Browser
              if (page == 'team')
                li.active
                  a.bar(href='/teampage') My Team 
              else      
                li
                  a.bar(href='/teampage') My Team 
              if (page == 'add')
                li.active
                  a.bar(href='/addchallenge') Create a Challenge
              else      
                li
                  a.bar(href='/addchallenge') Create a Challenge
              //- if (page == 'challenge')
              //-   li.active
              //-     a.bar #{title}
              if (page != 'login')
                - if (locals.loggedin)
                  if (loggedin == 'yes')
                    li
                      a.bar(href='/logout') Log Out
                else
                  li
                    a.bar(href='/logout') Log Out
               
    .container(id='page')
      block content 
      
