extends layout

block content
  h1= title
  script(src='/javascripts/teamadd.js')
  

  form(method='post', action='/signup', id='newteam')
    | Team Name:
    input(type='text', name='teamname', id='teamname')  
    div#badname
    br
    | Password:
    input(type='password', name='pwd', id='pwd')
    br
    | Team Captain: 
    br
    input(type='text', 'name = captain', id='captain', placeholder="Name")   
    input(type='text', name = 'emailcaptain', id='emailcaptain', placeholder="E-mail Address")
    br

    | Team Members:
    br
    input(type='text', name='member', id='member1', placeholder="Name")
    input(type='text', name='emailmember', id='emailmember', placeholder="E-mail Address")
    br
    input(type='text', name='member', id='member1' , placeholder="Name")
    input(type='text', name='emailmember', id='emailmember2', placeholder="E-mail Address")
    br
    input(type='text', name='member', id='member1', placeholder="Name")
    input(type='text', name='emailmember', id='emailmember3', placeholder="E-mail Address")
    br
    | Interests:
    br
    |Fun 
    input(type='checkbox', name="interests", value="Fun")
    |Coding 
    input(type="checkbox", name="interests", value="Coding")
    |Politics 
    input(type="checkbox", name="interests", value="Politics") 
    |Design 
    input(type="checkbox", name="interests", value="Design") 
    |Art 
    input(type="checkbox", name="interests", value="Art") 
    |Math 
    input(type="checkbox", name="interests", value="Math") 

    br    
    input.btn(type='submit', value='Submit')

    //- img(src)
    //- <a href="http://www.flickr.com/photos/kool_skatkat/431209056/" title="Australia, Melbourne: Team work by kool_skatkat, on Flickr"><img src="http://farm1.staticflickr.com/163/431209056_de6dbd1548_z.jpg?zz=1" width="480" height="640" alt="Australia, Melbourne: Team work"></a>
