extends layout

block content
  h1= title

  form(method='post', action='/signuptest', id='newteam')
    | Username:
    input(type='text', name='teamname', id='teamname')
    br
    | Password:
    input(type='password', name='pwd', id='pwd')
    br
    input(type='submit', value='Submit')