extends layout

block content
  h1= title

  form(method='post', action='/signup', id='newteam')
    | Username:
    input(type='text', name='teamname', id='teamname')
    br
    | Password:
    input(type='password', name='pwd', id='pwd')
    br
    
    | Team Captain: 
    br
    input(type='text', 'name = captain', id='captain')   
    input(type='text', name = 'emailcaptain', id='emailcaptain')
    br

    | Team Members:
    br
    input(type='text', name='member', id='member1')
    input(type='text', name='emailmember', id='emailmember')
    br
    input(type='text', name='member', id='member1')
    input(type='text', name='emailmember', id='emailmember')
    br
    input(type='text', name='member', id='member1')
    input(type='text', name='emailmember', id='emailmember')
    br
    | Interests:
    br
    |Fun 
    input(type='checkbox', name="interests", value="Fun")
    br
    |Coding 
    input(type="checkbox", name="interests", value="Coding")
    br
    |Politics 
    input(type="checkbox", name="interests", value="Politics") 
    br
    |Design 
    input(type="checkbox", name="interests", value="Design") 
    br
    |Art 
    input(type="checkbox", name="interests", value="Art") 
    br
    |Math 
    input(type="checkbox", name="interests", value="Math") 

    br    
    input(type='submit', value='Submit')