extends layout

block content
    br
    |Team name: #{teamname}     
    br

    each interest, i in interests
      interest
    br
    |Current projects: #{projects} 
    br
    |Captain: #{captain}    
    br
    |Members: #{members}