body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row-fluid {
  width: 940px;
  height: 880px;
}
.row-fluid .span6.span6-1 {
  width: 460px;
}
#type {
  width: 200px;
}
#description {
  height: 220px;
  width: 446px;
}
#prompt {
  height: 220px;
  width: 446px;
.challenge .hidden {
	display: none;
}

#team_members_captain {
	display: inline;
}